# Backup GVim files.
*~
# Temporaly GVim files.
*.swp
# Build directory
build/
# Visual Studio user configuration files.
*.vcxproj.user
*.sdf
*.opensdf
*.suo
# Visual Studio build directories.
Debug*/
Release*/
ipch/
objs/
output/
bin/
# Lib directory
lib/
# Tags info
tags
cscope.out
# Compiled python objects
*.pyc
# Installers
*.tar.gz
