name: Fast CDR Ubuntu CI (nightly)

on:
  workflow_dispatch:
  schedule:
    - cron: '0 1 * * *'

jobs:
  nightly-ubuntu-ci-master:
    uses: eProsima/Fast-CDR/.github/workflows/reusable-ci.yml@master
    with:
      os-version: 'ubuntu-22.04'
      label: 'nightly-ubuntu-ci-master'
      fastcdr-branch: 'master'
      run-build: true
      run-tests: true
      use-ccache: false

  nightly-ubuntu-ci-2_2_x:
    uses: eProsima/Fast-CDR/.github/workflows/reusable-ci.yml@2.2.x
    with:
      os-version: 'ubuntu-22.04'
      label: 'nightly-ubuntu-ci-2.2.x'
      fastcdr-branch: '2.2.x'
      run-build: true
      run-tests: true
      use-ccache: false

  nightly-ubuntu-ci-1_0_x:
    uses: eProsima/Fast-CDR/.github/workflows/reusable-ci.yml@1.0.x
    with:
      os-version: 'ubuntu-20.04'
      label: 'nightly-ubuntu-ci-1.0.x'
      fastcdr-branch: '1.0.x'
      run-build: true
      run-tests: true
      use-ccache: false
